/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

/* LAYOUT */

body {
	display: grid;
	grid-template-columns: 1fr 70em 1fr;
	margin: 0;
	padding: 0;
}
header {
	grid-column: 2 / 3;
	text-align: center;
}

main {
	grid-column: 2 / 3;
}

.book-info {
	width: 49.25em;
}

/* FLEXBOXES */

.book-titles {
	display: inline-flex;
	flex-wrap: wrap;
}

.book-cover {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

.book-description {
	display: block;
}

.book-info {
	display: block;
}

.podcast-flex {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	width: 100%;
}

.podcast-block {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}


/* TYPOGRAPHY */

header > h3 {
	font-family: Raleway, serif;
	font-weight: 700;
	font-size: 1.5em;
	padding: 1em 0;
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: Raleway, sans-serif;
	line-height: 1.5;
}

p {
  margin-top: 1.12em ;
  margin-bottom: 1.12em ;
}

.centre {
    text-align: center;
}

.podcast-link {
	font-size: 0.8em;
}

/* PADDING AND MARGINS */

.margin-top {
	padding-top: 2em;
}

#social {
	margin: 1em 0;
}

.padding {
	padding: 1em;
}

.podcast-block {
	margin: 0 1em;
}

/* COLOURS */

.book-titles {
	background: black;
}

.book-info {
	color: white;
}

.bloody {
    color: #fff;
    background: #b90e0a;
	border: 1px solid #b90e0a;
}

.podcast-link {
	color: white;
}

/* FADE IN ANIMATED */

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* IMAGES */

img {
    width: 100%;
}

.book-cover {
	width: 19.75em;
}

.social-icons {
	margin: 0 4px;
	width: 40px;
}

.podcast-icon {
	margin: 0 1em;
	width: 40px;
}